<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h3>Thanks for contacting, <%= @params[:name]%></h3>

    <p>
      Your feedback , is really appreciated
    </p>
    

    <p>Have a Lovely day!</p>
  </body>
</html>