<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h3>Hello this is, <%= @params[:name]%></h3>
    <h4>Feedback: </h4>
    <p>
      <strong> <%= @params[:message] %>  </strong>
    </p>
    

    <p>Have a Lovely day!</p>
  </body>
</html>