<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h3><%= @group.name %> invited you(<%= @email %>) to join, WDI Expense Tracker</h3>

    <p>
      Please signup through URL <a href='http://wdiexpense.herokuapp.com/users/sign_up'>http://wdiexpense.herokuapp.com/users/sign_up</a> to join the group for expense tracking
    </p>
    

    <p>Have a Lovely day!</p>
  </body>
</html>