<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h3>You are invited to join <%= @group.name %> on WDI Expense Tracker</h3>

    <p>
      Please sign in through URL <a href='http://wdiexpense.herokuapp.com/users/sign_in'>http://wdiexpense.herokuapp.com/users/sign_in</a> to create another group for expense tracking
    </p>
    

    <p>Thanks, Have a Lovely day!</p>
  </body>
</html>