<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h3><%= @group.name %> is deleted from WDI Expense Tracker. As you are part of the group you are getting notified about it</h3>

    <p>
      Please sign in through URL <a href='http://wdiexpense.herokuapp.com/users/sign_in'>http://wdiexpense.herokuapp.com/users/sign_in</a> to create the group for expense tracking.
    </p>
    

    <p>Thanks, Have a Lovely day!</p>
  </body>
</html>