<h1>My Groups</h1>
<div class="row">
  <%= link_to 'Add a new Group', new_group_path %>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered table-hover">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Owner</th>
      </tr>


      <% @groups.each do |group| %>
        <tr>
          <td>
            <% if current_user === group.owner %>
              <%= image_tag("Very-Basic-Settings-icon.png") %>
            <% end %>
          </td>
          <td> <%= group.name %> </td>
          <td> <%= group.owner.name %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>



