<div class="row">
  <div class="col-md-3">
      <ul class="nav nav-tabs nav-stacked" data-offset-top="225">
          <li><a href="#">Pranava S Balugari</a></li>
          <li><a href="#">Federico</a></li>
          <li><a href="#">Marcus</a></li>
      </ul>

  </div>
  <div class="col-md-9" >
      <h2 id="section-1">Pranava S Balugari</h2>
      <%= image_tag "nice_snow.png", size: '250x250',class:'img-circle pull-right' %>

        <p>Is a software employee, once worked with IBM and HP Australia. Motivates himself to work with unknown stuff in and out of the work. Developed interest towards ROR and wanted to see a change in the usual way of learning new technologies. Thereafter Joined General assembly to increase the competency level and get adjusted to new kind of learning environment. </p>
      <p><strong>Interests</strong><p>
       <ul>
          <li>Exploring "?"</li>
          <li>B&W Protrait Photography</li>
          <li>Playing Cricket</li>
          <li>Leisure activities</li>
          <li>Voluntary work</li>
          <li>Food and wine</li>
       </ul>

       <p><strong>On a funnier note...i love</strong><p>
       <ul>
          <li>99% Veg and 1% non-veg</li>
          <li>Walking</li>
          <li>spending time at beaches</li>
          <li>watching movies</li>
          <li>long drive's</li>
          <li>my girl friend</li>
       </ul>
        <blockquote class="panel-info">Keep Looking Don't Settle</blockquote>
        <hr/>


         <h2 id="section-2">Federico</h2>
      <%= image_tag "nice_snow.png", size: '250x250',class:'img-circle pull-right' %>

        <p>Is a software employee, once worked with IBM and HP Australia. Motivates himself to work with unknown stuff in and out of the work. Developed interest towards ROR and wanted to see a change in the usual way of learning new technologies. Thereafter Joined General assembly to increase the competency level and get adjusted to new kind of learning environment. </p>
      <p><strong>Interests</strong><p>
       <ul>
          <li>Exploring "?"</li>
          <li>B&W Protrait Photography</li>
          <li>Playing Cricket</li>
          <li>Leisure activities</li>
          <li>Voluntary work</li>
          <li>Food and wine</li>
       </ul>

       <p><strong>On a funnier note...i love</strong><p>
       <ul>
          <li>99% Veg and 1% non-veg</li>
          <li>Walking</li>
          <li>spending time at beaches</li>
          <li>watching movies</li>
          <li>long drive's</li>
          <li>my girl friend</li>
       </ul>
        <blockquote class="panel-info">Keep Looking Don't Settle</blockquote>
        <hr/>


         <h2 id="section-3">Marcus</h2>
      <%= image_tag "nice_snow.png", size: '250x250',class:'img-circle pull-right' %>

        <p>Is a software employee, once worked with IBM and HP Australia. Motivates himself to work with unknown stuff in and out of the work. Developed interest towards ROR and wanted to see a change in the usual way of learning new technologies. Thereafter Joined General assembly to increase the competency level and get adjusted to new kind of learning environment. </p>
      <p><strong>Interests</strong><p>
       <ul>
          <li>Exploring "?"</li>
          <li>B&W Protrait Photography</li>
          <li>Playing Cricket</li>
          <li>Leisure activities</li>
          <li>Voluntary work</li>
          <li>Food and wine</li>
       </ul>

       <p><strong>On a funnier note...i love</strong><p>
       <ul>
          <li>99% Veg and 1% non-veg</li>
          <li>Walking</li>
          <li>spending time at beaches</li>
          <li>watching movies</li>
          <li>long drive's</li>
          <li>my girl friend</li>
       </ul>
        <blockquote class="panel-info">Keep Looking Don't Settle</blockquote>
        <hr/>
  </div>
</div>