<div class="container-landing">
<h1 id="tagline">Keep track of shared expenses</h1>

  <div class="row">
      <div class="col-md-4 text-center">
          <div class="service-item">
              <i class="service-icon fa fa-rocket"></i>
              <h4>Share Bills</h4>
              <p>Rent, dinner, internet, power any bill you need to split between friends.</p>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="service-item">
              <i class="service-icon fa fa-magnet"></i>
              <h4>Get Notified</h4>
              <p>No need to have those awkward notifications with friends, we'll play the bad cop. We don't mind.</p>
          </div>
      </div>
      <div class="col-md-4 text-center">
          <div class="service-item">
              <i class="service-icon fa fa-shield"></i>
              <h4>Track Payments</h4>
              <p>Keep on top of who's paid and who needs to be paid. Dollar, dollar bills y'all.</p>
          </div>
      </div>
  </div>
</div>