<div class="container-landing">
	<div id="tagline-container">
		<h1 class="tagline">Don't let money get between you and your friends.</h1>
		<div class="btn sign-up">Get Started</div>
	</div>
	<div id="landing-spacer">
		
	</div>
	  <div class="row">
	      <div class="col-md-4 text-center">
	          <div class="service-item">
	              <i class="service-icon fa fa-rocket"></i>
	              <h4>Share Bills</h4>
	              <p>Rent, dinner, internet, power any bill you need to split between friends.</p>
	          </div>
	      </div>
	      <div class="col-md-4 text-center">
	          <div class="service-item">
	              <i class="service-icon fa fa-magnet"></i>
	              <h4>We'll Send Reminders</h4>
	              <p>No need to have those awkward conversations, we'll give them the bad news.</p>
	          </div>
	      </div>
	      <div class="col-md-4 text-center">
	          <div class="service-item">
	              <i class="service-icon fa fa-shield"></i>
	              <h4>Track Payments</h4>
	              <p>Keep on top of who's paid and who needs to be paid. Dollar, dollar bills y'all.</p>
	          </div>
	      </div>
	  </div>
</div>