/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= bootstrap
 *= require font-awesome
 *= require_tree .
 */

@font-face {
  font-family: 'FontAwesome';
  src: font-url('fontawesome-webfont.eot?v=4.0.3');
  src: font-url('fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
  font-url('fontawesome-webfont.woff?v=4.0.3') format('woff'),
  font-url('fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
  font-url('fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  background-image: image-url('cssspritepro.png');
  display: inline-block;
}
i.close  {
  background-position: px px;
  height: 16px;
  width: 16px;
}
i.close:hold  {
  background-position: px px;
  height: 16px;
  width: 16px;
}
 

.inline_form {
  margin: 20px 0px;

}
