
$navbar-default-toggle-border-color: #1B676B;
$navbar-default-link-color: #1B676B;
$navbar-default-link-hover-bg: #EAFDE6;
$navbar-default-toggle-hover-bg: #EAFDE6;
$navbar-default-toggle-icon-bar-bg: #1B676B;
$navbar-default-link-hover-color: #1B676B;
$navbar-default-brand-hover-color: #1B676B;



@import "bootstrap";

*{
	font-family: 'Lato', sans-serif;
}

.alert-notice {
	background: #EAFDE6;
	color: #1b676b ;
}

.alert-error {
	background: #FFC2CE;
	color: #A2122F;
}

#sign-up {
	padding:8px;
	padding-left:12px;
	padding-right:12px;
	margin:7px;
	background: #5C58B7;
	color:white;
	border: solid 1px #5458D8;
}

.sign-up {
	padding: 10px 80px;
	margin:7px;
	font-size: 20px;
	background: #5C58B7;
	color:white;
	border: solid 1px #5458D8;
}

#sign-up:hover {
	background: #5C85F8;
}


.tagline {
	margin-top:40px;
	font-size:60px;
	text-align:center;
	color: #FFF200;
	-webkit-filter: drop-shadow(-2px 3px #000);
}

#tagline-container {
	max-width: 800px;
	margin: 0 auto;
}

.container-landing {
	max-width: 1000px;
	text-align:center;
	margin:0;
}

.navbar {
	margin-bottom:0;
	border-radius:0;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom: solid 2px #519548;
	background: #BEF202;
}


.row {
	margin-left: 2px;
	margin-right: 2px;
}


.container {
	padding-left: 8px;
	padding-right: 8px;
	max-width: 1000px;
}
.glyphicon-chevron-right {
	float: right;
}



.container-fluid {
	background: #BEF202;
	max-width: 1000px;
}

#page-title {
	background-color: rgba(27,103,107, 1);
	padding:15px;
	color:white;
	margin-bottom:10px;
	margin-top:0;
}

#page-title-bg {
	background-color: rgba(27,103,107, 1);
}

.navbar-brand {
	font-family: 'pacificoregular', arial;
	font-size: 26px;

	-webkit-filter: drop-shadow(-2px 3px #FFF200);
	
}


/* stickey footer bootstrap */
html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}


footer {
  
  margin: 0 auto;
  padding: 20px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
  		color: #555;
  		&:hover {
		    color: #fff;
		  }
	}
  small {
	  float: left;
	}

	ul {
	  float: right;
	  list-style: none;
	  li {
		  float: left;
		  margin-left: 10px;
		}
	}
}


/* Set the fixed height of the footer here */
div#push,
div#footer {
	height: 60px;
}
div#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
div#footer {
	  margin-left: -20px;
	  margin-right: -20px;
	  padding-left: 20px;
	  padding-right: 20px;
	}
}

/* contact */

#contact {
	margin-top: 10px;
}


div#loginbox{
	margin-top:75px;
}


.settle, .expense {
	background: #EAFDE6;
}

.settle:hover, .expense:hover {
	background: #BEF202;
}

.glyphicon-star {
	color: #FFF200;
	font-size: 18px;
}

#landing {
	background: url(landing.jpg) no-repeat;
	background-size:100%;
	height: 680px;
}

.service-item {
	background: #BEF202;
	height: 180px;
	border-radius: 5px;
}

#landing-spacer {
	height: 100px;
}

