$navbar-default-toggle-border-color: #1B676B;
$navbar-default-link-color: #1B676B;
$navbar-default-link-hover-bg: #EAFDE6;
$navbar-default-toggle-hover-bg: #EAFDE6;
$navbar-default-toggle-icon-bar-bg: #1B676B;
$navbar-default-brand-hover-bg: #EAFDE6;
$navbar-default-link-hover-color: #1B676B;
$navbar-default-brand-hover-color: #1B676B;

@import "bootstrap";



.navbar {
	margin-bottom:0;
	border: #519548;
}

.row {
	margin-left: 2px;
	margin-right: 2px;
}

.container {
	padding-left: 8px;
	padding-right: 8px;
}

