<div id="expense-list">
<h3>Group Expenses</h3>
<div class="col-md-6">
	<table class="table table-hover">
		
		<thead>
			<th></th>
			<th>Description</th>
			<th>Expense Amount</th>
		</thead>	
		<tbody>	
			<% @expenses.each do |expense| %>
				<tr data-link="<%= expense_path(expense) %>">
					<td><%= button_to "duplicate", new_group_expense_path(group_id: expense.group.id), method: :get,  expense: { user_id: expense.payer.id, amount: expense.amount, description: expense.description} %></td>
					<td><%= expense.description %></td>
					<td><%= number_to_currency(expense.amount) %></td>
				</tr>
			<% end %>

		</tbody>


	</table>


</div>
</div>


