<div id="expense-list">


	<table class="table table-hover">
		
		<thead>
			<th>Description</th>
			<th>Amount</th>
		</thead>

		
		<tbody>	
			<% @expenses.each do |expense| %>
				
					<tr data-link="<%= expense_path(expense) %>">
						<td><%= expense.description %></td>
						<td><%= number_to_currency(expense.amount) %></td>
					</tr>
				
			<% end %>

		</tbody>
	</table>



</div>