<footer  class="footer navbar-default navbar-fixed-bottom">
  <nav> 
      <span class="text-muted pull-left">Site by Federico, Marcus, Pranava</span>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "Terms and Conditions", "#" %></li>
    </ul>
  </nav>
</footer>